<center>

# **Домашнее задание №3**

## Парамонов Всеволод Антонович
## БЭК212

</center>

<br>

<center>

# **Вариант 42**

<center>

In [60]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import warnings
import seaborn as sns
warnings.filterwarnings('ignore')

>## **0. Обработка датафрейма**

In [61]:
df_hw = pd.read_csv('/Users/vsevolodparamonov/Downloads/Homework_2_data.csv') 
year = 2020
region = 'Челябинск'

if region == region:

    my_data = (df_hw[(df_hw.year == year) & (df_hw.region == region)]) 
    
my_data

,region,educ,age,female,industry,work_hours,wage,foreign_language,internet,alcohol,is_children,health,weight,height,smoke,year
6540,Челябинск,0,38.0,1,ДРУГАЯ ОТРАСЛЬ ТЯЖЕЛОЙ ПРОМЫШЛЕННОСТИ,12.0,7500.0,0,1,0,1,0,83.0,162.0,0,2020
6541,Челябинск,1,34.0,1,ДРУГАЯ ОТРАСЛЬ ТЯЖЕЛОЙ ПРОМЫШЛЕННОСТИ,8.0,25000.0,0,1,1,0,1,59.0,162.0,1,2020
6542,Челябинск,1,49.0,0,ДРУГАЯ ОТРАСЛЬ ТЯЖЕЛОЙ ПРОМЫШЛЕННОСТИ,11.0,30000.0,0,1,0,1,0,85.0,175.0,0,2020
6543,Челябинск,2,47.0,1,ОПЕРАЦИИ С НЕДВИЖИМОСТЬЮ,8.0,30000.0,0,1,1,1,0,72.0,164.0,0,2020
6544,Челябинск,1,26.0,0,ДРУГАЯ ОТРАСЛЬ ТЯЖЕЛОЙ ПРОМЫШЛЕННОСТИ,8.0,26000.0,0,1,1,0,1,60.0,165.0,0,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12195,Челябинск,0,26.0,0,"ТОРГОВЛЯ, БЫТОВОЕ ОБСЛУЖИВАНИЕ",8.0,15000.0,0,1,0,1,1,80.0,190.0,1,2020
12196,Челябинск,0,27.0,0,"ТОРГОВЛЯ, БЫТОВОЕ ОБСЛУЖИВАНИЕ",10.0,31000.0,0,1,1,0,0,67.0,169.0,1,2020
12197,Челябинск,0,24.0,1,"ТОРГОВЛЯ, БЫТОВОЕ ОБСЛУЖИВАНИЕ",12.0,20000.0,0,1,1,1,1,70.0,165.0,1,2020
12198,Челябинск,0,26.0,0,"ТРАНСПОРТ, СВЯЗЬ",8.0,30000.0,0,1,1,0,0,85.0,180.0,1,2020
12199,Челябинск,2,39.0,1,"ТОРГОВЛЯ, БЫТОВОЕ ОБСЛУЖИВАНИЕ",8.0,40000.0,1,1,1,1,1,70.0,164.0,0,2020

> ## Задание 2 a

In [62]:
import statsmodels.api as sm

my_data['high'] = my_data.educ.apply(lambda x: 1 if x == 2 else 0)

coefs_results = pd.DataFrame()

y = my_data.wage

X = np.hstack((np.ones((my_data.shape[0], 1)), my_data[['age', 'high', 'female', 'is_children', 'smoke']].values))

model = sm.OLS(y, X)

rez = model.fit()

coefs_results = pd.concat([coefs_results, rez.params, rez.bse, rez.tvalues, rez.pvalues,rez.conf_int(alpha=0.05)], axis=1)
coefs_results.columns = ['Est', 'SE','t_value', 'p_value','l_0.05', 'r_0.05']
coefs_results = coefs_results.reset_index().replace({'x1': 'age', 'x2':'high', 'x3':'female', 'x4':'is_children', 'x5':'smoke'}).rename(columns={'index':'coef'}).set_index('coef')
coefs_results['Significant'] = (coefs_results['l_0.05'] > 0) & (coefs_results['r_0.05'] > 0) | (coefs_results['l_0.05'] < 0) & (coefs_results['r_0.05'] < 0)
coefs_results

,Est,SE,t_value,p_value,l_0.05,r_0.05,Significant
coef,,,,,,,
const,33720.286897,5262.856615,6.407221,1.244031e-09,23335.844305,44104.729489,True
age,-6.848803,126.303429,-0.054225,9.568157e-01,-256.065304,242.367698,False
high,12059.058206,3069.027489,3.929277,1.211085e-04,6003.385003,18114.731409,True
female,-10060.926318,2907.260121,-3.460621,6.722153e-04,-15797.407100,-4324.445537,True
is_children,-2334.237600,3692.078632,-0.632229,5.280353e-01,-9619.288552,4950.813353,False
smoke,4346.908939,3131.122105,1.388291,1.667547e-01,-1831.286693,10525.104571,False

> ## Задание 2 б
>
> #### $$ \hat{wage_i} = \hat\beta_1 + \hat\beta_2 \times age_i + \hat\beta_3 \times high_i + \hat\beta_4 \times female_i + \hat\beta_5 \times is\_children_i + \hat\beta_6 \times smoke_i $$

In [63]:
coefs_results = pd.DataFrame()

y = np.log(my_data.wage)

X = np.hstack((np.ones((my_data.shape[0], 1)), my_data[['age', 'high', 'female', 'is_children', 'smoke']].values))

model_ln_1 = sm.OLS(y, X)

rez_ln_1 = model_ln_1.fit()

coefs_results = pd.concat([coefs_results, rez_ln_1.params, rez_ln_1.bse, rez_ln_1.tvalues, rez_ln_1.pvalues, rez_ln_1.conf_int(alpha=0.05)], axis=1)
coefs_results.columns = ['Est', 'SE','t_value', 'p_value','l_0.05', 'r_0.05']
coefs_results = coefs_results.reset_index().replace({'x1': 'age', 'x2':'high', 'x3':'female', 'x4':'is_children', 'x5':'smoke'}).rename(columns={'index':'coef'}).set_index('coef')
coefs_results['Significant'] = (coefs_results['l_0.05'] > 0) & (coefs_results['r_0.05'] > 0) | (coefs_results['l_0.05'] < 0) & (coefs_results['r_0.05'] < 0)
coefs_results

,Est,SE,t_value,p_value,l_0.05,r_0.05,Significant
coef,,,,,,,
const,10.433521,0.141411,73.781395,5.193779e-137,10.154494,10.712547,True
age,-0.004413,0.003394,-1.300344,1.951363e-01,-0.011109,0.002283,False
high,0.438425,0.082464,5.316579,3.089103e-07,0.275711,0.601139,True
female,-0.366366,0.078117,-4.689959,5.366604e-06,-0.520504,-0.212229,True
is_children,-0.062843,0.099205,-0.633468,5.272276e-01,-0.258590,0.132904,False
smoke,0.145679,0.084132,1.731546,8.505832e-02,-0.020327,0.311685,False

> ## Задание 2 в
>
> #### $$ \widehat{ln(wage_i)} = \hat\beta_1 + \hat\beta_2 \times ln(age_i) + \hat\beta_3 \times high_i + \hat\beta_4 \times female_i + \hat\beta_5 \times is\_children_i + \hat\beta_6 \times smoke_i $$

In [64]:
coefs_results = pd.DataFrame()

y = np.log(my_data.wage)

X = np.hstack((np.ones((my_data.shape[0], 1)), my_data[['age', 'high', 'female', 'is_children', 'smoke']].values))

X[:, 1] = np.log(X[:, 1])

model_ln_2 = sm.OLS(y, X)

rez_ln_2 = model_ln_2.fit()

coefs_results = pd.concat([coefs_results, rez_ln_2.params, rez_ln_2.bse, rez_ln_2.tvalues, rez_ln_2.pvalues, rez_ln_2.conf_int(alpha=0.05)], axis=1)
coefs_results.columns = ['Est', 'SE','t_value', 'p_value','l_0.05', 'r_0.05']
coefs_results = coefs_results.reset_index().replace({'x1': 'ln(age)', 'x2':'high', 'x3':'female', 'x4':'is_children', 'x5':'smoke'}).rename(columns={'index':'coef'}).set_index('coef')
coefs_results['Significant'] = (coefs_results['l_0.05'] > 0) & (coefs_results['r_0.05'] > 0) | (coefs_results['l_0.05'] < 0) & (coefs_results['r_0.05'] < 0)
coefs_results

,Est,SE,t_value,p_value,l_0.05,r_0.05,Significant
coef,,,,,,,
const,10.601414,0.485727,21.825848,1.411873e-52,9.642997,11.559831,True
ln(age),-0.089811,0.141212,-0.636003,5.255781e-01,-0.368445,0.188822,False
high,0.446211,0.082498,5.408773,1.988630e-07,0.283430,0.608991,True
female,-0.377092,0.078165,-4.824287,2.971791e-06,-0.531325,-0.222860,True
is_children,-0.088563,0.102613,-0.863076,3.892380e-01,-0.291035,0.113909,False
smoke,0.153216,0.084223,1.819156,7.054014e-02,-0.012970,0.319402,False

> ## Задание 2 г
>
> #### Сравнение моделей (2) и (3) с помощью $R^2$
>
> #### * (2) - модель с $ln(wage)$, (3) - модель с $ln(wage)$ и $ln(age)$

In [65]:
pd.DataFrame([['R^2', rez_ln_2.rsquared, rez_ln_1.rsquared]], columns=['Metrics', '(2)', '(3)']).set_index('Metrics')

              (2)       (3)
Metrics
R^2      0.223398  0.228866

> #### Сравнение моделей (1) и (2) с помощью $PE-теста$
>
> #### * (1) модель с wage, (2) - модель с ln(wage)

In [66]:
import statsmodels.formula.api as smf

df_for_lin = pd.DataFrame()
df_for_log = pd.DataFrame()


data_with_log = my_data.copy()
data_with_log['log_wage'] = np.log(data_with_log['wage'])

model_lin = smf.ols('wage ~ age + high + female + is_children + smoke', data = data_with_log).fit()
model_log = smf.ols('log_wage ~ age + high + female + is_children + smoke', data = data_with_log).fit()

data_with_log['lin'] = np.log(model_lin.fittedvalues) - model_log.fittedvalues
data_with_log['log'] = model_lin.fittedvalues - np.exp(model_log.fittedvalues)
model_lin_add = smf.ols('wage ~ age + high + female + is_children + smoke + lin', data = data_with_log).fit()
model_log_add = smf.ols('log_wage ~ age + high + female + is_children + smoke+ log', data = data_with_log).fit()


df_for_lin = pd.concat([df_for_lin, model_lin_add.params, model_lin_add.bse, model_lin_add.tvalues, model_lin_add.pvalues, model_lin_add.conf_int(alpha=0.05)], axis=1)
df_for_lin.columns = ['Est', 'SE','t_value', 'p_value','l_0.05', 'r_0.05']
df_for_lin = df_for_lin.reset_index().replace({'x1': 'ln(age)', 'x2':'high', 'x3':'female', 'x4':'is_children', 'x5':'smoke'}).rename(columns={'index':'coef'}).set_index('coef')
df_for_lin['Significant'] = (df_for_lin['l_0.05'] > 0) & (df_for_lin['r_0.05'] > 0) | (df_for_lin['l_0.05'] < 0) & (df_for_lin['r_0.05'] < 0)

df_for_log = pd.concat([df_for_log, model_log_add.params, model_log_add.bse, model_log_add.tvalues, model_log_add.pvalues, model_log_add.conf_int(alpha=0.05)], axis=1)
df_for_log.columns = ['Est', 'SE','t_value', 'p_value','l_0.05', 'r_0.05']
df_for_log = df_for_log.reset_index().replace({'x1': 'ln(age)', 'x2':'high', 'x3':'female', 'x4':'is_children', 'x5':'smoke'}).rename(columns={'index':'coef'}).set_index('coef')
df_for_log['Significant'] = (df_for_log['l_0.05'] > 0) & (df_for_log['r_0.05'] > 0) | (df_for_log['l_0.05'] < 0) & (df_for_log['r_0.05'] < 0)

#### Оценка коэффициентов для линейной модели

In [67]:
df_for_lin

,Est,SE,t_value,p_value,l_0.05,r_0.05,Significant
coef,,,,,,,
Intercept,32787.909739,5395.373879,6.077041,7.126969e-09,22141.591698,43434.227780,True
age,148.179055,231.317762,0.640587,5.226060e-01,-308.264284,604.622394,False
high,9987.031827,4017.558147,2.485846,1.383621e-02,2059.462258,17914.601396,True
female,-8332.325285,3624.117677,-2.299132,2.264593e-02,-15483.545992,-1181.104578,True
is_children,-2859.983468,3753.682085,-0.761914,4.471084e-01,-10266.864657,4546.897722,False
smoke,4575.230315,3147.193750,1.453749,1.477572e-01,-1634.909399,10785.370028,False
lin,-39267.106745,49064.956809,-0.800309,4.245870e-01,-136083.591854,57549.378364,False

#### Оценка коэффициентов для полулогорифмической модели

In [68]:
df_for_log

,Est,SE,t_value,p_value,l_0.05,r_0.05,Significant
coef,,,,,,,
Intercept,10.440578,0.142070,73.488959,3.579282e-136,10.160241,10.720915,True
age,-0.006231,0.004428,-1.407067,1.611319e-01,-0.014970,0.002507,False
high,0.446678,0.083597,5.343216,2.736434e-07,0.281722,0.611635,True
female,-0.373055,0.078938,-4.725900,4.603353e-06,-0.528819,-0.217291,True
is_children,-0.056699,0.099829,-0.567962,5.707689e-01,-0.253684,0.140286,False
smoke,0.133663,0.086332,1.548246,1.233194e-01,-0.036690,0.304016,False
log,0.000018,0.000028,0.640561,5.226225e-01,-0.000038,0.000074,False

> #### Сравнение моделей (1) и (3) с помощью $\text{теста Бокса-Кокса}$
>
> #### * (1) модель с wage, (3) - модель с ln(wage) и ln(age)

In [78]:
from scipy.stats import boxcox

_, best_lambda_wage = boxcox(my_data['wage'])
_, best_lambda_age = boxcox(my_data['age'])
best_lambda_wage, best_lambda_age

(0.13280781169209877, 0.182957686327656)

In [83]:
my_data.to_csv('dataa.csv')